*{

    font-family: 'Metrophobic'
} 
.title
{
    text-align: center;
    text-shadow:#ff0000;
}
.container
{
    background-color: #ff0000;
    margin-bottom: 20px;
}
.navbar
{
    width:85%;
    margin:auto;
    /* justify-content:space-between ; */
    /* padding: 0.7%; */
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.logo{
    cursor: pointer;
    font-size: 40px;
    color:white;
    
}

.navbar ul li
{
    display:inline-block;
    margin: 0 18px;
    position: relative;
}
.navbar ul li button
{
    text-align: center;
    background-color: black;
    border-radius: 10px;
    
    padding: 10px;
    color: #ff0000  ;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    justify-content: center;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after
{
    content: '';
    height: 3px;
    width: 0;
    background-color: black;
    position:absolute;
    left: 0;
    bottom:-10px;
    transition: 0.4s;  
}
.navbar ul li:hover::after{
    width:100%
 
}


.girdView
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    color: #ff0000;
    
    
    
}
.girdView img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
.girdView p{
    text-align:center;
    font-size: larger;
}
.overLays{
    /* display: grid; */
    /* grid-template-columns: auto auto auto; */
    

    position: fixed;
    height: 110vh;
    margin-top: -87%;
    display: none;
    width: 100%;

    background-color: rgba(0,0,0,0.5);
  }

  .overLays img{
    
    margin: 15% 25%;
    height: 50%;
    width: 50%;
}
.exit
{
    border: 1px solid black;
    width: 100px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    background-color: black;
    margin: -41% 77%;
    color: red;
    font-size: 20px;
    cursor: pointer;
}
